[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
toml = "*"
anyconfig = "*"
jsonschema = "*"
junitparser = "*"
"pypiwin32" = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]
pytest = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
numpy = "*"
pre-commit = "*"
bump2version = "*"
pyinstaller = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
