[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
toml = "*"
anyconfig = "*"
jsonschema = "*"
junitparser = "*"
"pywin32" = "*"

[dev-packages]
pytest = "*"
sphinx = "*"
recommonmark = "*"
sphinx-autodoc-typehints = "*"
sphinx-jsonschema = "*"
numpy = "*"
pre-commit = "*"
"bump2version" = "*"

[requires]
python_version = "3.7"
